<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @merchant.name %>
</p>

<p>
  <b>Address:</b>
  <%= @merchant.address %>
</p>

<h2>Items</h2>

<% unless @merchant.items.empty? %>
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @merchant.items.each do |item| %>
        <tr>
          <td><%= item.description %></td>
          <td><%= number_to_currency(item.price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Back', merchants_path %>
