<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@item.price) %>
</p>

<p>
  <b>Merchant:</b>
  <%= @item.merchant.name %>
</p>

<%= link_to 'Back', items_path %>
