<%= form_tag({:action => :create}, :multipart => true) do %>
  <% if @upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% @upload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="control-group">
      <label class="control-label">Data File</label>
      <div class="controls">
        <%= file_field_tag :data_file %>
        <p class="help-block">File with tab delimited data of previous purchases</p>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag 'Upload Data', :class => 'btn' %>
    </div>
  </div>
<% end %>
